@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family:sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #fcf1f1;
}
.parent{
  min-height: 100vh;
  width:100% ;
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.card{
  height: 330px;
  width: 260px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content:  space-between;
  margin-bottom: 30px;
}
.top img{
  height: 40px;
  width: 47px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  font-size: 11px;
  gap:3px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.center h3{
  font-size: 17px;
  font-weight: 1000;
}
.center h3 span{
  font-size: 9px;
  font-weight: 100;
  color: brown;
}
.center .tag{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.center .tag h4{
  font-size: 10px;
  background-color:burlywood;
  font-weight: 800;
  padding: 3px 6px;
  border-radius: 5px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding-top: 15px;
}
.bottom h3{
   font-size: 15px;
  font-weight: 1000;
}
.bottom p{
   font-size: 12px;
   color: gray;
}
.bottom button{
  background: black;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
